.login-page {
  align-items: center;
  background-color: #f0e9ff;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 1239px;
  padding: 80px 0px;
  position: relative;
}

.login-page .vector {
  height: 640px;
  left: 0;
  position: absolute;
  top: 599px;
  width: 100%;
}

.login-page .frame {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  padding: 8px 80px;
  position: relative;
  width: 100%;
}

.login-page .div {
  align-items: center;
  background-color: #020005;
  border-radius: 100px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 29px;
  padding: 0px 32px 0px 0px;
  position: relative;
}

.login-page .LOGIN-wrapper {
  align-items: center;
  background-color: #8c52ff;
  border-radius: 100px;
  display: flex;
  gap: 8px;
  height: 95px;
  justify-content: center;
  padding: 8px;
  position: relative;
  width: 186px;
}

.login-page .LOGIN {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.login-page .SIGNUP {
  color: #f0e9ff;
  font-family: "Inter", Helvetica;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.login-page .next-wrapper {
  align-items: center;
  background-color: #333232;
  border-radius: 20px;
  box-shadow: 0px 3.02px 9.33px #0000004a, 0px 7.25px 22.41px #00000035, 0px 13.65px 42.2px #0000002c,
    0px 24.35px 75.27px #00000025, 0px 45.54px 140.79px #0000001e, 0px 109px 337px #00000015;
  display: flex;
  height: 820px;
  justify-content: center;
  position: relative;
  width: 780px;
}

.login-page .next {
  align-items: center;
  background-color: #8c52ff;
  border: 7px solid;
  border-radius: 100px;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 16px 36px;
  position: relative;
}

.login-page .text-wrapper {
  align-self: stretch;
  color: #f5f5f5;
  font-family: "Inter", Helvetica;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -7px;
  position: relative;
  text-align: center;
  width: 390.52px;
}

.login-page .eva-arrow-ios {
  height: 32.76px;
  margin-left: -12px;
  position: relative;
  width: 68.48px;
}

/* Login.css */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* You can add more styling based on your design preferences */
